.Card{
    display: grid;
  grid-template-columns: repeat(3, 0fr);


}
.button{
    width: 150px;
    height:150px;
    background-color: whitesmoke;
    
}
body{
    background-color: rgb(13, 2, 27);
}

h1{
    color:whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h2{
    position: absolute;
}